@import url("https://fonts.googleapis.com/css2?family=Castoro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* General */

:root {
  --background: rgb(240, 240, 240);
  --navigation-bar-left: rgb(20, 38, 89);
  --navigation-bar-right: rgb(21, 23, 25);
  --navigation-bar: linear-gradient(
    -135deg,
    var(--navigation-bar-right) 0%,
    var(--navigation-bar-left) 100%
  );
  --navigation-text: #888888;
  --highlight: #3d3d3d;
  --button: #d9d9d9;
  --main-text: #000000;
  --muted-text: #000000;
  --main-headers: #000000;
}
body {
  font-family: "Inter";
  display: flex;
  flex-flow: row wrap;
}
.highlight {
  color: var(--highlight);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 3px;
}

/* Navigation bar */

.nav {
  background: var(--navigation-bar);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 14px;
  width: 100%;
  height: 72px;
  margin: 0 20%;
  border-radius: 20px;
  margin-top: 10px;
  transition: ease-in-out 200ms;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
}
.nav > a {
  width: 0px;
}
.logo {
  height: 45%;
  aspect-ratio: 5/1;
  padding: 20px;
  padding-left: 40px;
  transition: ease-in-out 200ms;
}
.logo:hover {
  filter: brightness(0.6);
}

/* Shortcuts list in navigation bar */

.shortcuts-list {
  display: flex;
  flex-flow: row nowrap;
  margin: auto 40px;
  transition: ease-in-out 100ms;
}
.shortcuts-list > * {
  text-decoration: none;
}
.shortcut {
  font-size: 14px;
  color: var(--navigation-text);
  padding: 15px 10px;
  margin: 5px 5px;
  transition: ease-in-out 100ms;
  outline: 1px solid transparent;
}
.shortcuts-list > a:nth-child(5) > .shortcut {
  border-radius: 8px;
  padding: 15px;
  margin-left: 20px;
  border: 1.5px solid var(--highlight);
}
.shortcuts-list > a:nth-child(5) > .shortcut:hover {
  transform: none;
  background-color: var(--highlight);
}

.shortcuts-list > a:nth-child(5) > .shortcut:hover > .highlight {
  color: var(--navigation-bar-right);
}
.shortcut:hover {
  color: var(--highlight);
  filter: brightness(1.5);
  outline: 1px solid var(--highlight);
  transition: ease-in-out 100ms;
  border-radius: 8px;
}

/* Shared for side sections */

.socials-section,
.right-section {
  display: flex;
  flex-flow: column nowrap;
  width: 20%;
  position: fixed;
  bottom: 0;
}

/* Right section */

.right-section {
  right: 0;
  align-items: flex-end;
  opacity: 1;
  transition: ease-in-out 200ms;
}
.right-section-list {
  right: 0px;
  position: relative;
  width: min-content;
  margin-right: 20px;
}
.right-section-title {
  transform: rotate(270deg);
  transform-origin: left;
  padding: 0px;
  margin: 8px 36px;
  width: 0;
  color: var(--muted-text);
  transition: ease-in-out 200ms;
}
.right-section-title:hover {
  color: var(--highlight);
  transform: rotate(270deg) translateX(4px);
}

/* Socials section */

.socials-list * {
  font-size: 20px;
  color: var(--muted-text);
  margin-left: 3px;
  margin-bottom: -3px;
  padding: 6px;
  opacity: 1;
  transition: ease-in-out 200ms;
}
.socials-list *:hover {
  color: var(--highlight);
  transform: translateY(-4px);
}
.socials-list {
  margin-left: 20px;
  opacity: 1;
  transition: ease-in-out 200ms;
}
.section-line {
  width: 1px;
  height: 90px;
  background-color: var(--muted-text);
  padding: 0px;
  margin: 16px 36px 0px 36px;
}

/* Main content */

@keyframes main-fade-in {
  from {
    transform: translateY(10vw) rotateY(30deg);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main {
  padding: min(7vw, 60px);
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 10px 20% 100px 20%;
  color: var(--main-text);
  background-color: white;
  border-radius: 20px;
  transition: ease-in-out 200ms;
}
.main h1 {
  margin: 6.4px 0;
  font-size: 28px;
  letter-spacing: -2px;
  font-weight: bold;
  color: var(--main-headers);
}
.main h2 {
  margin: 6.4px 0;
  font-size: 28px;
  letter-spacing: -1.5px;
  font-weight: bold;
  color: var(--main-text);
}
.main h3 {
  font-weight: bold;
  color: var(--main-headers);
  transition: ease-in-out 200ms;
  font-size: 16px;
}
.main h3:hover {
  color: var(--highlight);
}
.main h4 {
  font-size: 16px;
  margin: 8px 0;
  color: var(--highlight);
}
.portfolio-category {
  font-size: 22px;
  margin: 20px 4px;
  margin-top: 80px;
  color: var(--main-text);
  font-weight: bold;
}
.main p {
  line-height: 22px;
  margin: 10px 0;
  font-size: 14px;
  max-width: 1000px;
  color: var(--main-text);
}
.main button {
  font-size: 8px;
  color: var(--highlight);
  padding: 10px;
  width: max-content;
  border: none;
  border-radius: 8px;
  margin: clamp(20px, 2vw, 40px) 0;
  border: 1px solid var(--highlight);
}

.section-title {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 40px;
  align-items: center;
}

.section-title-number {
  color: var(--highlight);
  margin-right: 10px;
  font-size: 16px;
}

.section-title-text {
  margin-right: 10px;
}

.section-title-line {
  display: block;
  background-color: var(--navigation-text);
  height: 1px;
  flex-grow: 1;
  max-width: 150px;
}

.about-me {
  width: 100%;
  margin: 75px auto 0 auto;
}

.about-me-flex {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.about-me-text {
  flex-grow: 1;
  max-width: 600px !important;
  padding-right: 2vw;
  font-size: 16px !important;
  line-height: 24px !important;
}

.about-me-image {
  max-width: min(150px, 40%);
  aspect-ratio: 1/1;
  flex-basis: 40%;
  border-radius: 10px;
  box-shadow: 15px 15px rgb(225, 225, 225);
  transition: ease-in-out 200ms;
  background-color: rgb(240, 240, 240);
}

.about-me-image:hover {
  transform: translateY(-10px) translateX(-10px);
  box-shadow: 25px 25px rgb(242, 242, 242);
}

.experience {
  width: 100%;
  margin: 75px auto 0 auto;
}

.experience-list {
  display: flex;
  flex-direction: column;
}

.experience-block {
  width: min(450px, 86%);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
  padding: 20px;
  margin-bottom: 10px;
  transition: ease-in-out 200ms;
}

.experience-block:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.35);
}

.experience-role {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--main-headers);
}
.experience-company {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: var(--main-headers);
  margin-bottom: 5px;
}
.experience-date-location {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: var(--main-headers);
  font-style: italic;
}
.experience-description {
  padding: 5px 15px 0 15px;
  font-size: 15px !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--main-headers);
  border-left: 1px solid var(--highlight);
}

.experience-work {
  color: var(--highlight);
}

.experience-school {
  color: #474745;
}

.portfolio {
  width: 100%;
  margin: 75px auto 0 auto;
}

.portfolio-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.portfolio-block {
  width: 280px;
  height: 210px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
  transition: ease-in-out 200ms;
  font-weight: bold;
}

.portfolio-block:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.35);
}

.portfolio-image {
  border-radius: 5px 5px 0 0;
  width: 280px;
  height: 140px;
  background-color: rgb(240, 240, 240);
}

.portfolio-title {
  padding: 10px;
  font-size: 14px !important;
  color: var(--main-headers);
}

.portfolio-labels {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 10px;
  color: var(--muted-text);
}

.portfolio-label {
  background-color: #f1f1f1;
  font-size: 12px;
  padding: 5px;
  font-weight: 600;
  border-radius: 3px;
}

.portfolio-link {
  text-decoration: none !important;
}

.contact {
  width: 100%;
  margin: 75px auto 0 auto;
}

.contact-links {
  min-width: max-content;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.contact-link {
  font-size: 12px;
  padding: 15px;
  margin: 5px 0;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
  transition: ease-in-out 200ms;
}

.contact-link:hover {
  margin: 5px -5px 5px 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.35);
}

.project-title {
  text-align: center;
  font-size: 32px !important;
}

.project-labels {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 12px;
  color: var(--main-text);
  text-align: center;
}

.project-label {
  font-size: 14px !important;
  background-color: #f0f0f0;
  padding: 5px;
  font-weight: 600;
  margin: 0px;
  border-radius: 4px;
}

.project-description-section {
  width: 100%;
  margin: 75px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-description {
  width: min(100%, 600px);
  text-align: center;
}

.project-description-list {
  line-height: 22px;
  margin: clamp(10px, 1vw, 20px) 0;
  font-size: 14px;
  max-width: 1000px;
  color: var(--main-text);
  list-style-type: disc;
}

.project-images-section {
  width: 100%;
  margin: 75px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-image {
  width: min(100%, 600px);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
  transition: ease-in-out 200ms;
  padding: 10px;
  margin-bottom: 10px;
}

.project-image:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.35);
}

.project-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.project-buttons li {
  text-align: center;
  flex-grow: 1;
  margin: 0 5px;
  font-size: 14px;
}

.project-buttons li:hover {
  margin: 0 5px;
}

/* Media queries */

@media only screen and (max-width: 1400px) {
  .nav {
    margin: 10px 10px 0 10px;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 875px) {
  .socials-section,
  .right-section {
    opacity: 0;
  }
  .shortcuts-list {
    margin-right: 0px;
  }
  .shortcuts-list > a:not(:last-child) {
    display: none;
  }
  .logo {
    padding-left: 10px;
  }
  .main {
    margin: 10px 10px 100px 10px;
  }
  .section-title {
    margin-bottom: 20px;
  }
  .about-me {
    margin: 50px auto 0 auto;
  }
  .about-me-text {
    padding-right: 20px;
    font-size: 14px !important;
  }
  .about-me-image {
    max-width: 100px;
    aspect-ratio: 1/1;
    flex-basis: 40%;
    border-radius: 8px;
    box-shadow: 10px 10px rgb(225, 225, 225);
    transition: ease-in-out 200ms;
  }
  .about-me-image:hover {
    transform: translateY(-8px) translateX(-8px);
    box-shadow: 18px 18px rgb(242, 242, 242);
  }
  .experience {
    margin: 50px auto 0 auto;
  }
}
