@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

@media (max-width: 767px) {
    .container > nav > a {
        display: none;
    }
    .container > nav > a.logo {
        display: block;
    }
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
    .mobile-nav, .mobile-nav.is-active {
        display: none;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans SC', sans-serif;
    background: rgb(69, 70, 160);
    color: rgb(255, 254, 254);
}

.container {
    width: 100%;
    margin: 0 auto;
}

.hamburger {
    display: fixed;
    width: 35px;
    height: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    border: none;
    outline: none;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 1px;
    margin: 6px 0px;
    transition: 0.2s;
}

.hamburger.is-active::before {
    transform: translateY(10px) rotate(-45deg) ;
}

.hamburger.is-active::after {
    transform: translateY(-10px) rotate(45deg);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    display: block;
    position: fixed;
    padding-top: 120px;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    transition: 0.5s;
}

.mobile-nav a {
    background-color: rgb(69, 70, 160);
    display: block;
    width: 100%;
    max-width: 200px;
    height: 10%;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
}

.mobile-nav.is-active {
    left: 0;
}

nav {
    display: flex;
    background-color: rgb(38, 43, 102);
    color: white;
    font-size: 24px;
    font-family: 'Lexend', sans-serif;
    border-bottom: 2px solid rgb(32, 36, 83);
    min-height: 60px;
}

nav button {
    z-index: 200;
    right: 20px;
    top: 10px;
    position: fixed;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px 10px 0px 10px;
}

.navbarProfilePicture {
    max-height: 50px;
    max-width: 50px;
    right: 0px;
    position: fixed;
    margin: -10px 10px;
}

.basicForm {
    width: 300px;
    height: 200px;
    background-color: rgb(38, 43, 102);
    border: 2px solid rgb(32, 36, 83);
    border-radius: 3%;
    margin: 0 auto;
    padding: 25px;
}

.basicForm input[type="text"] {
    height: 25px;
    width: 200px;
    border-radius: 6px;
    float: right;
}

.basicForm input[type="submit"] {
    border: none;
    margin: 20px;
    border-radius: 6px;
    height: 30px;
    width: 250px;
    background-color: rgb(69, 70, 160);
    color: white;
}

.basicForm input[type="submit"]:hover {
    background-color: rgb(60, 62, 141);
}

#logInForm {
    height: 150px;
}

#pageTitle {
    font-size: 3em;
    text-align: center;
}

.subtleLink {
    text-decoration: none;
    color: rgb(179, 179, 179);
    font-size: 16px;
}

.subtleLink:hover {
    color: rgb(126, 126, 126);
}

.errorFormField {
    border: 2px solid rgb(240, 54, 54);
}

#errorDiv {
    background-color: rgb(207, 159, 27);
    display: block;
    opacity: 0;
    width: 300px;
    border: 2px solid rgb(133, 103, 21);
    border-radius: 10px;
    margin: 10px auto;
    padding: 25px;
    transition: 0.25s;
}