@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body {
    font-family: 'Amatic SC', cursive;
    margin: 0;
    padding: 0;
    background-color: rgb(137, 162, 170);
    overflow: hidden;
}

#memoryContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: rgb(137, 162, 170);
    transition: 1s;
    opacity: 0;
}

#userOptions {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 110px;
    font-size: 30px;
    background-color: rgb(43, 60, 61);
}

#userOptions label {
    color: white;
    padding: 4px 8px;
}

#userOptions button {
    background-color: rgb(43, 60, 61);
    margin-top: 3px;
    border: none;
    color: rgb(255, 60, 0);
    padding: 4px 34px;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
}

#userOptions button:hover {
    background-color: rgb(66, 89, 90);
}

#livesContainer {
    position: fixed;
    right: 0;
    top: 0;
    width: 110px;
    height: 140px;
    font-size: 30px;
    background-color: rgb(43, 60, 61);
    color: white;
    padding: 10px;
    text-align: center;
}

#livesContainer p {
    margin-top: 0px;
}

#heartContainer {
    position: relative;
    background-color: rgb(225, 0, 0);
    height: 105px;
}

#heartBackground {
    position: absolute;
    background-color: rgb(75, 37, 37);;
    height: 0px;
    width: 110px;
    transition: 1s;
}

#heartContainer img {
    position: relative;
    margin-top: -3px;
}

#heartBackground p {
    position: relative;
    margin-top: 15px;
    font-size: 50px;
}

#highscoresContainer {
    position: fixed;
    color: white;
    top: 200px;
    display: flex;
    flex-wrap: wrap;
    width: 110px;
    font-size: 30px;
    background-color: rgb(43, 60, 61);
    transition: 0.3s;
}

#highscoresContainer button {
    margin: 0 auto;
    font-size: 30px;
    width: 100em;
    border: none;
    background-color:rgb(43, 60, 61);
    color: rgb(255, 255, 255);
    font-family: 'Amatic SC';
    padding: 5px 5px;
}

#highscoresContainer button:hover {
    background-color: rgb(66, 89, 90);
}

#startupText {
    position: absolute;
    bottom: -50px;
    text-align: center;
    margin-left: 5em;
    font-size: 100px;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 5px black);
    transition: 0.5s;
}

#startupImage {
    position: absolute;
    bottom: 150px;
    margin-left: 225px;
    transition: 0.5s;
}

#startupBlock {
    position: absolute;
    background-color: rgb(43, 60, 61);
    width: 100vw;
    height: 150px;
    bottom: 0;
    transition: 0.5s;
}

#scoreContainer {
    position: fixed;
    text-align: center;
    color: white;
    top: 175px;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    width: 130px;
    font-size: 30px;
    background-color: rgb(43, 60, 61);
    transition: 0.3s;
    padding: 5px 0;
}

#scoreContainer p {
    width: 120px;
    margin: 0;
    padding: 5px 5px;
    line-height: 25px;
}

#loseScreenText {
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    display: none;
    top: -30px;
    left: 625px;
    font-size: 80px;
    color: red;
    filter: drop-shadow(0 0 3px rgb(46, 1, 1))
}

#loseScreenImage {
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    display: none;
    top: 250px;
    left: 625px;
}

#winScreenContainer {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    transition: 0.5s;
    display: none;
    top: 50px;
    left: 500px;
    width: 500px;
    height: 250px;
    background-color: rgb(43, 60, 61);
    color: white;
    font-size: 35px;
    transition: 0.5s;
}

#winScreenContainer p, h5 {
    margin: 0;
}

#winScreenContainer button {
    font-family: 'Amatic SC';
    font-size: 30px;
    width: 50%;
    height: 50px;
    bottom: 0;
    right: 0;
    padding: 5px 0;
    border: none;
    background-color: rgb(48, 69, 70);
}


#winScreenContainer button:hover {
    background-color: rgb(66, 89, 90);
}

#winScreenScore {
    margin: 0;
    width: 100%;
    height: 100px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#winScreenName {
    width: 100%;
    height: 100px;
    margin: 0;
    border: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#winScreenContainer input[type=text] {
    margin: 0;
    margin-left: 40px;
    padding: 5px 10px;
    border: 0;
    font-size: 35px;
    background-color:rgb(66, 89, 90);
    color: white;
    font-family: 'Amatic SC';
    width: 200px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: center;
    padding: 8px;
    width: 100em;
}

tr:nth-child(even) {
    background-color: rgb(48, 69, 70);
}

.card {
    margin: 6px;
    width: 108px;
    height: 108px;
    background-color: rgb(137, 162, 170);
    transition: 0.4s;
}

.card img {
    margin-left: 10px;
}